
# ===============================================================================
# Archivo generado automáticamente por Ansible (proxy.container.j2). 
# No editar directamente, los cambios se perderán en la próxima ejecución.
# ===============================================================================

[main]
gpgcheck=1
installonly_limit=3
clean_requirements_on_remove=True
best=True
skip_if_unavailable=False
fastestmirror=True
max_parallel_downloads=10
